<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta chatset="UTF-8" />
    <title>chikun websample</html>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
    <script type="text/javascript">google.load("jquery", "1.3");</script> 
    <script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script> 
    <script type="text/javascript">google.load("swfobject", "2.1");</script> 
  </head>

  <body>
    
    {% block content%}{% endblock %}


  </body>

</html>
