{% extends '_base.html' %}


{% block content %}

<h1>edit Game > {{game.display_title}}</h1>
<ul>
  <li>owner: {% if game.owner_is %}{{game.owner_is}} {% endif %}{{game.display_owner_name }}</li>
  <li>komi: {{ game.komi }}</li>
</ul>


<div id="stage">

</div>


<script type="text/javascript">
  var stage = new Chikun.Stage({ "stage" : $("#stage") , "size" : {{ game.size }} });
  {% for action in actions %}
  stage.puts( { "stone" : "{{action.stone}}" , "position" : "{{action.position}}" });
  {% endfor %} 

</script>


{% endblock %}
