{% extends '_base.html' %}


{% block content %}

<h1>join Game > {{game.display_title}}</h1>
<ul>
  <li>owner: {% if game.owner_is %}{{game.owner_is}} {% endif %}{{game.display_owner_name }}</li>
  <li>komi: {{ game.komi }}</li>
  {% if not game.is_black %}
  <li>random</li>
  {% endif %}
 <li>created_at: {{game.created_at}}</li>
</ul>

<form method="post">
  <label id="owner_name">JoinName</label> <br />
  <input type="text" name="client_name" /><br />
  <button type="submit">join game</button>
</form>



<div id="stage">

</div>


<script type="text/javascript">
  var stage = new Chikun.Stage({ "stage" : $("#stage") , "size" : {{ game.size }} });
  {% for action in actions %}
  stage.puts( { "stone" : "{{action.stone}}" , "position" : "{{action.position}}" });
  {% endfor %} 

</script>


{% endblock %}
