{% extends '_base.html' %}


{% block content %}

<h1>{{ game.display_title }}</h1>
<ul>
  <li>owner: {{ game.owner_name }}</li>
  <li>client: {{ game.client_name }}</li>
  <li>created_at: {{game.created_at}}</li>
</ul>

<pre>
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋

</pre>


{% endblock %}
